page {
  background: #F4F4F4;
}
.order_head_navi {
  margin: 20rpx auto;
  border-radius: 100rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_head_navi .li {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 28rpx;
  color: #999999;
  padding: 20rpx 0;
}
.order_head_navi .li.active {
  color: #61C55E;
  font-size: 30rpx;
  font-weight: bold;
}
.order_head_navi .li.active::after {
  content: "";
  display: block;
  width: 60rpx;
  height: 6rpx;
  background: #61C55E;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5rpx;
  border-top-right-radius: 5rpx;
}
.order_search_cont {
  background: #fff;
  border-radius: 100rpx;
  position: relative;
  margin-bottom: 20rpx;
}
.order_search_cont .i {
  position: absolute;
  left: 20rpx;
  top: 50%;
  transform: translateY(-50%);
  width: 24rpx;
}
.order_search_cont input {
  width: 100%;
  height: 70rpx;
  padding-left: 60rpx;
  box-sizing: border-box;
  font-size: 24rpx;
  color: #999999;
}
.order_infor_last {
  padding: 20rpx;
  background: #fff;
  border-radius: 10rpx;
  margin-bottom: 20rpx;
}
.order_infor_last .order_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20rpx;
  border-bottom: 1rpx solid #F1F1F1;
}
.order_infor_last .order_title .num {
  font-size: 28rpx;
  font-weight: bold;
  color: #000000;
  position: relative;
}
.order_infor_last .order_title .num::after {
  content: "";
  display: block;
  width: 6rpx;
  height: 26rpx;
  background: #61C55E;
  border-top-right-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
  position: absolute;
  left: -20rpx;
  top: 50%;
  transform: translateY(-50%);
}
.order_infor_last .order_title .time_zt {
  position: relative;
  padding-right: 100rpx;
  font-size: 22rpx;
  color: #999999;
}
.order_infor_last .order_title .time_zt .tips {
  position: absolute;
  right: -20rpx;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  padding: 10rpx 14rpx;
  background: #61C55E;
  border-top-left-radius: 100rpx;
  border-bottom-left-radius: 100rpx;
  font-size: 24rpx;
  color: #FFFFFF;
}
.order_infor_last .order_title .time_zt .tips::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -6rpx;
  border-top: 6rpx solid #389E35;
  border-right: 6rpx solid transparent;
}
.order_infor_last .order_title .time_zt .tips.zt_1 {
  background: #FFC000;
}
.order_infor_last .order_title .time_zt .tips.zt_1::after {
  border-top: 6rpx solid #9E8735;
}
.order_infor_last .order_title .time_zt .tips.zt_2 {
  background: #00A2FF;
}
.order_infor_last .order_title .time_zt .tips.zt_2::after {
  border-top: 6rpx solid #2C4CA8;
}
.order_infor_last .pro_last {
  padding: 20rpx 0;
  border-bottom: 1rpx solid #F1F1F1;
}
.order_infor_last .pro_last .list {
  display: flex;
  align-items: center;
  margin-bottom: 20rpx;
}
.order_infor_last .pro_last .list:last-child {
  margin-bottom: 0;
}
.order_infor_last .pro_last .list .pro_i {
  width: 110rpx;
  height: 110rpx;
  border-radius: 10rpx;
}
.order_infor_last .pro_last .list .pro_i image {
  display: block;
  width: 100%;
  height: 100%;
}
.order_infor_last .pro_last .list .detail_cont {
  width: calc(100% - 110rpx);
  padding-left: 20rpx;
  position: relative;
}
.order_infor_last .pro_last .list .detail_cont .name {
  font-size: 28rpx;
  font-weight: bold;
  color: #000000;
  margin-bottom: 14rpx;
}
.order_infor_last .pro_last .list .detail_cont .bis {
  display: inline-block;
  padding: 5rpx 10rpx;
  background: rgba(96, 196, 93, 0.1);
  font-size: 20rpx;
  color: #60C45D;
}
.order_infor_last .pro_last .list .detail_cont .price_inf {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}
.order_infor_last .pro_last .list .detail_cont .price_inf .price {
  font-size: 28rpx;
  font-weight: bold;
  color: #000;
  margin-bottom: 14rpx;
}
.order_infor_last .pro_last .list .detail_cont .price_inf .price text {
  color: #FD2027;
}
.order_infor_last .pro_last .list .detail_cont .price_inf .num {
  font-size: 24rpx;
  color: #010101;
}
.order_infor_last .total_inf {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20rpx 0;
  font-size: 24rpx;
  font-weight: bold;
}
.order_infor_last .total_inf text {
  color: #FF5F36;
}
.order_infor_last .total_inf .dd {
  margin-right: 10rpx;
}
.order_infor_last .deliv_exp {
  padding: 20rpx;
  border: 2rpx solid #D9F3D9;
}
.order_infor_last .deliv_exp .dl {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10rpx;
}
.order_infor_last .deliv_exp .dl .dt {
  width: 140rpx;
  font-size: 24rpx;
  color: #666666;
}
.order_infor_last .deliv_exp .dl .dd {
  width: calc(100% - 140rpx);
  padding-left: 10rpx;
  font-size: 24rpx;
  color: #666666;
}
.order_infor_last .deliv_exp .dl .dd txet {
  display: block;
  color: #666666;
}
.order_infor_last .deliv_exp .dl:last-child {
  margin-bottom: 0;
}
.order_infor_last .bit_seet_cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20rpx 0;
}
.order_infor_last .bit_seet_cont .btn {
  padding: 10rpx 14rpx;
  border-radius: 10rpx;
  margin-left: 14rpx;
  font-size: 24rpx;
  color: #000000;
  background: #EFF9EE;
}
.order_infor_last .bit_seet_cont .btn.sub {
  background: #61C55E;
  color: #fff;
}
