.user_inf_content {
  display: flex;
  align-items: center;
  padding: 40rpx 0;

  &.leader {
    .ava_inf {
      .tips_txt {
        display: none;
      }
    }

    .deta_inf {
      color: #262626;

      .user-id {
        color: #262626;
        padding: 0;
        background-color: transparent;
      }
    }
  }
}
.user_inf_content .ava_inf {
  width: 108rpx;
  position: relative;
  color: #ffffff;
}
.user_inf_content .ava_inf .ava {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108rpx;
  height: 108rpx;

  &__frame {
    position: absolute;
    top: -20rpx;
    right: -20rpx;
    bottom: -20rpx;
    left: -20rpx;
    width: auto!important;
    height: auto!important;
  }
}
.user_inf_content .ava_inf .ava image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user_inf_content .ava_inf .tips_txt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rpx;
  background: #FEFEFE33;
  width: 265rpx;
  height: 33rpx;
  font-size: 22rpx;
  top: -43rpx;
  left: 0;
}
.user_inf_content .ava_inf .tips_txt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 9rpx solid #FEFEFE33;
  border-left: 12rpx solid transparent;
  border-right: 12rpx solid transparent;
  position: absolute;
  left: 40rpx;
  bottom: -9rpx;
}
.user_inf_content .deta_inf {
  width: calc(100% - 108rpx);
  padding-left: 20rpx;
  color: #FFFFFF;
}
.user_inf_content .deta_inf .name {
  display: flex;
  align-items: center;
  font-size: 34rpx;
  font-weight: bold;
  margin-bottom: 20rpx;
}
.user_inf_content .deta_inf .name .id {
  display: inline-block;
  border-radius: 100rpx;
  background: #fff;
  margin-left: 15rpx;
  font-size: 24rpx;
  color: #60C45D;
  padding: 5rpx 10rpx;
}
.user_inf_content .deta_inf .tel {
  display: flex;
  align-items: center;
  font-size: 24rpx;
}
.user_inf_content .deta_inf .tel .tel_i {
  width: 19rpx;
  margin-right: 10rpx;
}

.user-id {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 24rpx;
  padding: 1px 8px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #60C45D;
}

.copy-icon {
  width: 24rpx;
  height: 24rpx;
  margin-left: 8rpx;
}
