page {
  background: #f5f5f5;
}
.contain {
  padding-top: 160rpx;
  padding-bottom: 40rpx;
}
.index_head_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.user_head_bg {
  text-align: center;
  font-size: 32rpx;
  color: #fff;
  height: var(--status-bar-height);
  position: absolute;
  top: 90rpx;
  left: 0;
  width: 100%;
}
.user_member_cont {
  border-radius: 30rpx;
  padding: 15rpx 15rpx;
  margin-bottom: 20rpx;
  position: relative;
}
.user_member_cont.lv_1 {
  background: linear-gradient(#fcd896, #fcd1ab, #fdf2c6, #f8ecc0);
  .icon-image {
    width: 180rpx;
  }
}
.user_member_cont.lv_1 .lv_tips {
  background: linear-gradient(to right, #FFD700, #ffd483, #FFE4B5, #FFE4B5);
  color: #B8860B;
}
.user_member_cont.lv_1 .lv_txt {
  color: #DAA520;
}
.user_member_cont.lv_1 .lv_exp_cont .exp_head .exp {
  color: #DAA520;
}
.user_member_cont.lv_1 .lv_exp_cont .exp_head .text {
  color: #FF8C00;
}
.user_member_cont.lv_1 .lv_exp_cont .exp_head .up_btn {
  color: #FF8C00;
}
.user_member_cont.lv_1 .lv_exp_cont .exp_line .ing {
  background: linear-gradient(to left, #FFA500, #FFD700, #FFD700);
}
.user_member_cont.lv_2 {
  background: linear-gradient(#ABC0FF, #E4D4FE, #EDEDF9, #EDEDF9);
  .icon-image {
    width: 160rpx;
  }
}
.user_member_cont.lv_2 .lv_tips {
  background: linear-gradient(to right, #ABC0FF, #E4D4FE, #E4E4F8, #E4E4F8);
  color: #4333C1;
}
.user_member_cont.lv_2 .lv_txt {
  color: #A6A2E7;
}
.user_member_cont.lv_2 .lv_exp_cont .exp_head .exp {
  color: #A6A2E7;
}
.user_member_cont.lv_2 .lv_exp_cont .exp_head .text {
  color: #463BE5;
}
.user_member_cont.lv_2 .lv_exp_cont .exp_head .up_btn {
  color: #463BE5;
}
.user_member_cont.lv_2 .lv_exp_cont .exp_line .ing {
  background: linear-gradient(to left, #9788F1, #3F35E4, #3F35E4);
}
.user_member_cont.lv_0 {
  background: linear-gradient(#B3BED1, #DAE1EF, #B9C3D7);

  .icon-image {
    width: 150rpx;
  }
}
.user_member_cont.lv_0 .lv_tips {
  background: #AAB4C5;
  color: #141B26;
}
.user_member_cont.lv_0 .lv_txt {
  color: #64666E;
}
.user_member_cont.lv_0 .lv_exp_cont .exp_head .exp {
  color: #42454B;
}
.user_member_cont.lv_0 .lv_exp_cont .exp_head .text {
  color: #42454B;
}
.user_member_cont.lv_0 .lv_exp_cont .exp_head .up_btn {
  color: #42454B;
}
.user_member_cont.lv_0 .lv_exp_cont .exp_line .ing {
  background: linear-gradient(to left, #6F727C, #18191D, #18191D);
}
.user_member_cont.lv_3 {
  background: linear-gradient(#73AEFE, #ABB9FE, #DEF0FE);
  .icon-image {
    width: 202rpx;
  }
}
.user_member_cont.lv_3 .lv_tips {
  background: linear-gradient(to right, #C6DEFD, #7CBAFF, #D6E7FE);
  color: #0066FF;
}
.user_member_cont.lv_3 .lv_txt {
  color: #628EDF;
}
.user_member_cont.lv_3 .lv_exp_cont .exp_head .exp {
  color: #628EDF;
}
.user_member_cont.lv_3 .lv_exp_cont .exp_head .text {
  color: #0066FF;
}
.user_member_cont.lv_3 .lv_exp_cont .exp_head .up_btn {
  color: #0066FF;
}
.user_member_cont.lv_3 .lv_exp_cont .exp_line .ing {
  background: linear-gradient(to left, #0082F2, #0066FF);
}
.user_member_cont .icon-image {
  position: absolute;
  right: 40rpx;
  top: -50rpx;
}
.user_member_cont .lv_tips {
  display: inline-flex;
  padding: 10rpx 30rpx;
  border-top-left-radius: 20rpx;
  border-bottom-right-radius: 20rpx;
  font-size: 24rpx;
}
.user_member_cont .lv_inf {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
}
.user_member_cont .lv_inf .i {
  width: 39rpx;
  margin-right: 10rpx;
}
.user_member_cont .lv_inf .txt {
  margin-right: 10rpx;
}
.user_member_cont .lv_inf .plus {
	width: 90rpx;
	height: 32rpx;
	background: #4A90E2;
	transform: skew(-15deg);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20rpx;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	line-height: 32rpx;
  border-radius: 8rpx;
}

/* 不同等级的plus颜色适配 */
.user_member_cont.lv_1 .lv_inf .plus {
	background: linear-gradient(92.65deg, #FFD700 2.59%, #FFA500 96.74%, #FF8C00 97.41%); /* 黄金渐变 */
	color: white;
}

.user_member_cont.lv_2 .lv_inf .plus {
	background: linear-gradient(92.65deg, #9788F1 2.59%, #3F35E4 96.74%, #3F35E4 97.41%); /* 铂金色 */
	color: white;
}

.user_member_cont.lv_3 .lv_inf .plus {
	background: linear-gradient(92.65deg, #87CEEB 2.59%, #4A90E2 96.74%, #1E90FF 97.41%); /* 钻石蓝渐变 */
	color: white;
}
.user_member_cont .lv_txt {
  min-height: 14px;
  margin-bottom: 20rpx;
  font-size: 24rpx;
}
.user_member_cont .exp_head_left {
  display: flex;
  align-items: center;

  .text {
    font-weight: normal!important;
    font-size: 26rpx!important;
    margin-right: 16rpx!important;
  }
}
.user_member_cont .lv_exp_cont .exp_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15rpx;
}
.user_member_cont .lv_exp_cont .exp_head .exp {
  font-size: 22rpx;
}
.user_member_cont .lv_exp_cont .exp_head .text {
  font-weight: bold;
  font-size: 24rpx;
  margin-right: 5rpx;
}
.user_member_cont .lv_exp_cont .exp_head .up_btn {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  line-height: 28rpx;
  vertical-align: middle;
}
.user_member_cont .lv_exp_cont .exp_head .up_btn .arr {
  width: 9rpx;
  margin-left: 14rpx;
}
.user_member_cont .lv_exp_cont .exp_line {
  width: 100%;
  border-radius: 100rpx;
  position: relative;
  overflow: hidden;
  height: 8rpx;
  background: #FFFFFF;
}
.user_member_cont .lv_exp_cont .exp_line .ing {
  height: 8rpx;
  width: 95rpx;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100rpx;
}
.user_pulic_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26rpx;
  margin-bottom: 20rpx;

  .all-button {
    display: flex;
    align-items: center;
  }
}
.user_pulic_title .tle {
  font-size: 30rpx;
  font-weight: bold;
  color: #000000;
  position: relative;
}
.user_pulic_title .tle::after {
  content: "";
  display: block;
  width: 6rpx;
  height: 26rpx;
  background: #61C55E;
  border-top-right-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
  position: absolute;
  left: -20rpx;
  top: 50%;
  transform: translateY(-50%);
}
.user_pulic_title .adres_seet {
  display: flex;
  align-items: center;
  font-size: 26rpx;
  font-weight: bold;
  color: #303030;
}
.user_pulic_title .adres_seet .i {
  width: 25rpx;
  margin-right: 10rpx;
}
.user_adres_cont {
  background: #fff;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
  padding: 20rpx;
}
.user_adres_cont .adres_deta_list {
  padding: 10rpx 20rpx;
  border: 2rpx solid #D9F3D9;
  margin-bottom: 20rpx;
  border-radius: 10rpx;
}
.user_adres_cont .adres_deta_list .title {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20rpx;
}
.user_adres_cont .adres_deta_list .title .tip {
  padding: 4rpx 20rpx;
  border-radius: 100rpx;
  margin-right: 12rpx;
  font-size: 22rpx;
  color: #fff;
}
.user_adres_cont .adres_deta_list .title .tip.defa {
  background: #61C55E;
}
.user_adres_cont .adres_deta_list .title .tip.home {
  background: #1D78F9;
}
.user_adres_cont .adres_deta_list .txt {
  font-size: 24rpx;
  color: #666666;
}
.user_coupon_cont {
  background: #fff;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
  padding: 20rpx;
}
.user_bits_txt {
  background: #fff;
  border-radius: 20rpx;
  margin-bottom: 20rpx;
  padding: 20rpx;
}
.user_bits_txt .txt {
  font-size: 24rpx;
  line-height: 28rpx;
  color: #666666;
  margin-bottom: 20rpx;

  .phone-text {
    color:#4A90E2;
  }
}
.user_bits_txt .bit_dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_bits_txt .bit_dl .dt {
  font-size: 24rpx;
  color: #5EC05B;
}
.user_bits_txt .bit_dl .dd {
  font-size: 24rpx;
  color: #5EC05B;

  .phone-text {
    text-decoration: underline;
  }
}
.user_dump_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 82rpx;
  border-radius: 100rpx;
  background: #61C55E;
  font-size: 30rpx;
  color: #FFFFFF;
  margin: 20rpx auto;
}

.pulic_dc_bg{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
  background: rgba(0,0,0,0.5);
}

/* 不同等级的文字样式适配 */
.user_member_cont .lv_inf .txt {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40rpx;
	font-size: 30rpx;
	font-weight: bold;
	text-align: center;
}

.user_member_cont.lv_0 .lv_inf .txt {
	color: #4A4A4A;
}

.user_member_cont.lv_1 .lv_inf .txt {
	color: #8B4513;
}

.user_member_cont.lv_2 .lv_inf .txt {
	color: #4B0082;
}

.user_member_cont.lv_3 .lv_inf .txt {
	color: #0066FF;
}

.bottom-button {
  width: 100%;
  height: 82rpx;
  font-size: 28rpx;
  text-align: center;
  line-height: 82rpx;
  vertical-align: middle;
  margin-top: 16rpx;
  background-color: #61C55E;
  border-radius: 100rpx;
  color: #FFFFFF;
}