.contain {
  padding-top: 20rpx;
  padding-bottom: 80rpx;
}
.no-address {
  margin-top: 16rpx;
  text-align: center;
  color: #8F8F8F;
}
.adres_rad {
  display: flex;
  align-items: center;

  .default-radio {
    transform: scale(0.6);
    transform-origin: left;
    margin-right: -20rpx;
  }
}
.adres_rad .ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rpx;
  height: 24rpx;
  border-radius: 100%;
  margin-right: 10rpx;
  background: #fff;
  border: 1rpx solid #E4E4E4;
  position: relative;
}
.adres_rad .ring radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.adres_rad text {
  font-size: 28rpx;
  color: #000000;
}
.adres_rad.active .ring {
  border: 1rpx solid #FF3400;
  background: url("https://melonbamboo.oss-cn-beijing.aliyuncs.com/melonbamboo/66f3616630404854a955f18f8ebe570e/adres_active.png?Expires=2074059655&OSSAccessKeyId=LTAI5tHrbcXwiX27kw8s1cSb&Signature=McZN%2FfYgj4HOpk4HKbaaoCrdv5I%3D") no-repeat center;
  background-size: cover;
}
.adres_list {
  border-radius: 16rpx;
  margin-bottom: 20rpx;
  padding: 20rpx;
  background: linear-gradient(180deg, #60C45D -122.66%, #FFFFFF 55.4%);
}
.adres_list .tis_detail {
  padding-bottom: 20rpx;
  border-bottom: 1rpx solid #F1F1F1;
}
.adres_list .tis_detail .tle {
  font-size: 28rpx;
  color: #666666;
  margin-bottom: 20rpx;
}
.adres_list .tis_detail .tle .name {
  font-size: 38rpx;
  font-weight: bold;
  color: #000000;
}
.adres_list .tis_detail .txt {
  font-size: 24rpx;
  color: #666666;
}
.adres_list .bit_cont {
  padding: 20rpx 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adres_list .bit_cont .adres_default {
  display: flex;
  align-items: center;
  font-size: 22rpx;
  color: #666666;
}
.adres_list .bit_cont .seet_dl {
  display: flex;
  align-items: center;
}
.adres_list .bit_cont .seet_dl .dl {
  margin-left: 20rpx;
  font-size: 22rpx;
  color: #666666;
}
.adres_list .bit_cont .seet_dl .dl .i {
  width: 24rpx;
  margin-right: 5rpx;
}
.bit_add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20rpx;
  left: 5%;
  width: 90%;
  height: 80rpx;
  border-radius: 100rpx;
  background: #61C55E;
  font-size: 30rpx;
  color: #fff;
}
