page {
  background: #F4F4F4;
}
.coupon_baner {
  width: 100%;
  margin-bottom: 20rpx;
  margin-top: 20rpx;
}
.coupon_baner image {
  display: block;
  width: 100%;
}
.coupon_nav {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
}
.coupon_nav .li {
  position: relative;
  margin-right: 40rpx;
  font-size: 30rpx;
  color: #000000;
}
.coupon_nav .li text {
  position: relative;
  z-index: 2;
}
.coupon_nav .li.active::after {
  content: "";
  display: block;
  width: 98%;
  height: 17rpx;
  position: absolute;
  left: 1%;
  bottom: -7rpx;
  background: #61C55E;
}
