.buycar_floor {
  position: fixed;
  right: 10rpx;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

}
.buycar_floor .i {
  display: block;
  width: 80rpx;
  height: 80rpx;
  border-radius: 100%;
  box-shadow: 0px 5rpx 18rpx #60C45D8A;
}
.buycar_floor .txt {
  position: absolute;
  right: 0;
  top: -10rpx;
  padding: 5rpx 12rpx;
  font-size: 18rpx;
  color: #fff;
  border-radius: 100rpx;
  background: #FF5F36;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
}

.join_cart_cont {
  position: fixed;
  /* 小程序特有样式 */
  /* #ifdef MP-WEIXIN */
  bottom: 0rpx;
  /* #endif */
  /* H5 特有样式 */
  /* #ifdef H5 */
  bottom: 80rpx;
  /* #endif */
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20rpx;
  z-index: 13;
}
.join_cart_cont .deta_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30rpx;
}
.join_cart_cont .deta_header .l_cont {
  display: flex;
  align-items: center;
}
.join_cart_cont .deta_header .l_cont .det_all {
  font-size: 20rpx;
  color: #919191;
  margin-left: 20rpx;
}
.join_cart_cont .deta_header .del_all {
  display: flex;
  align-items: center;
  font-size: 20rpx;
  color: #919191;
}
.join_cart_cont .deta_header .del_all .i {
  width: 26rpx;
  margin-right: 20rpx;
}
.join_cart_cont .pro_list {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
  border-bottom: 1rpx solid #F2F2F2;
}
.join_cart_cont .pro_list .sele_rad {
  width: 45rpx;
}
.join_cart_cont .pro_list .pro_detail_cont {
  width: calc(100% - 45rpx);
  padding-left: 20rpx;
  display: flex;
  align-items: center;
}
.join_cart_cont .pro_list .pro_detail_cont .pro_i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108rpx;
  height: 108rpx;
  border-radius: 10rpx;
  overflow: hidden;
}
.join_cart_cont .pro_list .pro_detail_cont .pro_i image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.join_cart_cont .pro_list .pro_detail_cont .detail_inf {
  width: calc(100% - 108rpx);
  padding-left: 14rpx;
  position: relative;
}
.join_cart_cont .pro_list .pro_detail_cont .detail_inf .title {
  font-size: 28rpx;
  color: #000;
  margin-bottom: 14rpx;
}
.join_cart_cont .pro_list .pro_detail_cont .detail_inf .bits {
  display: inline-block;
  padding: 10rpx 20rpx;
  border-radius: 100rpx;
  background: rgba(255, 95, 54, 0.1);
  font-size: 24rpx;
  color: #FF5F36;
}
.join_cart_cont .pro_list .pro_detail_cont .detail_inf .count_cont {
  position: absolute;
  right: 0;
  bottom: 0;
}
.join_cart_cont .total_price_cont {
  padding: 20rpx 0;
  border-bottom: 1rpx solid #F2F2F2;
}
.join_cart_cont .total_price_cont .title_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20rpx;
}
.join_cart_cont .total_price_cont .title_head .tle {
  font-size: 28rpx;
  color: #000000;
}
.join_cart_cont .total_price_cont .title_head .total {
  font-size: 28rpx;
  color: #FF0000;
}
.join_cart_cont .total_price_cont .dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14rpx 0;
}
.join_cart_cont .total_price_cont .dl .dt {
  display: flex;
  align-items: center;
  font-size: 26rpx;
  color: #000000;
}
.join_cart_cont .total_price_cont .dl .dt .i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rpx;
  margin-right: 6rpx;
}
.join_cart_cont .total_price_cont .dl .dt .i image {
  width: 35rpx;
}
.join_cart_cont .total_price_cont .dl .dd {
  display: flex;
  align-items: center;
  font-size: 28rpx;
  color: #FF5F36;
}
.join_cart_cont .total_price_cont .dl .dd .arr {
  width: 23rpx;
  margin-left: 10rpx;
}
.join_cart_cont .bit_buy_cont {
  margin: 40rpx 0 20rpx;
  display: flex;
  align-items: center;
  padding-left: 40rpx;
}
.join_cart_cont .bit_buy_cont .l_cont {
  width: 80%;
  position: relative;
  height: 61rpx;
  background: url(@/static/image/cart_btn_1.png) no-repeat center;
  background-size: cover;
  padding-left: 50rpx;
  display: flex;
  align-items: center;
}
.join_cart_cont .bit_buy_cont .l_cont .buy_num {
  position: absolute;
  left: -40rpx;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80rpx;
  height: 80rpx;
}
.join_cart_cont .bit_buy_cont .l_cont .buy_num image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0px 5rpx 18rpx #60C45D8A;
}
.join_cart_cont .bit_buy_cont .l_cont .buy_num .num {
  position: absolute;
  right: 0;
  top: -10rpx;
  padding: 5rpx 12rpx;
  font-size: 18rpx;
  color: #fff;
  border-radius: 100rpx;
  background: #FF5F36;
}
.join_cart_cont .bit_buy_cont .l_cont .xj {
  font-size: 36rpx;
  color: #FF0000;
  font-weight: bold;
  margin-right: 10rpx;
}
.join_cart_cont .bit_buy_cont .l_cont .yj {
  font-size: 26rpx;
  color: #ACACAC;
  text-decoration: line-through;
}
.join_cart_cont .bit_buy_cont .buy_btn {
  width: 35%;
  height: 60rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(@/static/image/cart_btn_2.png) no-repeat center;
  background-size: cover;
  font-size: 26rpx;
  color: #FFFFFF;
}

.sele_rad{
  display: flex;
  align-items: center;
  .ring{
    display: flex;
    align-items: center;
    justify-content: center;
    width:34rpx;
    height:34rpx;
    border-radius: 100%;
    margin-right:10rpx;
    background: #fff;
    border:2rpx solid #F9DC52;
    position: relative;
    radio{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity: 0;
    }
    checkbox {
      opacity: 0;;
    }

    &.active{
      background: url('http://melonbamboo.oss-cn-beijing.aliyuncs.com/melonbamboo/d8891d14bae54eb39713e8bded9bb9d1/sele_active.png?Expires=2073897536&OSSAccessKeyId=LTAI5tHrbcXwiX27kw8s1cSb&Signature=vPx9VgeeSlORIHJw%2FeZYQqIInOE%3D') no-repeat center;
      background-size:cover;
    }
  }
  text{
    font-size:28rpx;
    color:#000000;
  }
}